/* Martin Chisholm, 12/09/2021 */

body {
      color:darkgreen;
      font-family:'Times New Roman', Times, serif;
      
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

p   {
     color: black;
     font-family: Arial, Helvetica, sans-serif;
     margin-left: 20px;
}